@{
    if (Session["user"] != null)
    {
        if (Session["user"].Equals("Admin"))
        {
            Layout = "~/Views/Shared/_Admin.cshtml";

        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}
<<body>
    <div>
       <img src="~/Content/Images/images%20(1).jpg" />
        <p>
            <h5>price : 5000</h5>

            <a><h3>Add to Cart</h3></a>
        </p>
    </div>
     @section IndexSec{
         <form class="navbar-form navbar-left pull-right" action="/Home/Search" role="search">
             <div class="form-group">
                 <input type="text" class="form-control" name="search" placeholder="search" />
             </div>
             <button type="submit" class="btn btn-success">Submit</button>
         </form>
     }
</body>
<h2>Carpets</h2>
